body {
    background-color: black;
}

/** Contact
---------------------------------------------------------*/
#contactus {
    color: white;
}

.contact-title {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    padding: 1rem 0;
  }

  .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  
  .social {
    font-weight: 700;
  }
  
  .social-contact ul {
    list-style: none;
    display: flex;
    
  }
  
  .social-contact ul li {
    /* padding: 0 1rem; */
  }
  
  .btn-sub {
    letter-spacing: 1.5;
    color: black;
    background-color: #fff;
    font-weight: 700;
    border-radius: 0.15rem;
  }
  
  .btn-form {
    width: 100%;
    letter-spacing: 1.5;
    color: black;
    background-color: #fff;
    font-weight: 700;
    border-radius: 0.15rem;
  }
  
  .form-control {
    background-color: rgb(46, 46, 46);
    border: 1px solid white;
    border-radius: 0.2rem;
  }